@model ProjectAlpha.Models.Side.Vaksin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vaksin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaPegawai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaPegawai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NipPegawai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NipPegawai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NikPegawai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NikPegawai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitKerja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitKerja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusASN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusASN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaksin1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaksin1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaksin2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaksin2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaksin3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaksin3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VaksinID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
