@model IEnumerable<ProjectAlpha.Models.Narsum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Narasumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keterangan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Narasumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keterangan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NarsumID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NarsumID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NarsumID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
