@model WBKNET.Models.Proker.Office.Bongkar
<head>
    <script src="https://unpkg.com/docx@7.1.0/build/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
  </head>

@{
    ViewData["Title"] = "Details";
     Layout = "_LayoutLTEOffice";
}


<body>
     <div id="exportContent">
<div class="card">
    <div class="card-body">
       
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoPermohonan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoPermohonan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalPermohonan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalPermohonan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomorBC11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomorBC11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalBC11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalBC11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaSarkut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaSarkut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoBL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoBL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalBL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalBL)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alasan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alasan)
        </dd>
    </dl>
</div>
    </div>
</div>
 @await Component.InvokeAsync("PosBarang", new { BongkarID = @Model.BongkarID })

<div>
    
     <button onclick="Export2Doc('exportContent', 'test');">Export as Doc</button>
     <a class="btn btn-info" asp-action="PrintLapBongkar" asp-route-id="@Model.BongkarID">Print</a>
</div>
</body>
<script type="text/javascript">
    function Export2Doc(element, filename = ''){
    var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
    var postHtml = "</body></html>";
    var html = preHtml+document.getElementById(element).innerHTML+postHtml;

    var blob = new Blob(['\ufeff', html],{
        type: 'application/msword'
    });

    var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html)

    filename = filename?filename+'.doc': 'document.doc';

    var downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);

    if(navigator.msSaveOrOpenBlob){
        navigator.msSaveOrOpenBlob(blob, filename);
    }else{
        downloadLink.href = url;

        downloadLink.download = filename;

        downloadLink.click();
    }

    document.body.removeChild(downloadLink);


}


</script>

  