@model WBKNET.Models.Proker.Office.ViewModel.PrintBAViewModel

@{
    ViewData["Title"] = "Print";
    Layout = null;
}
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    
    <style>
        .buttonfx {
            width: 60px;
        }

        

        p {
            padding: 3px;
            
            
        }

        h4 {
            margin-bottom: 1px;
        }

        .printDetails > div {
            display: inline-block;
        }

        .flexrow {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex !important;
        }

            .flexrow > div {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
            }
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .justify {
            text-align: justify;
        }
        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }
        
        img {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
        }
        hr {
            border: 1px solid black;
            margin-top:-12px;
        }
        table, td, th {
            border: 1px transparent;
            
        }
        table,th{
            font-weight: normal;
        }
        
        div.b {
            text-align: left;
        }
        .dtable, .dtd, .dth {
            border: 1px transparent;
        }
        .bigfont{
            font-size:800%;
        }
        .dtable {
            border-collapse: collapse;
            width: 50%;
        }

        .dth {
            height: 70px;
        }
        hr.dotted {
            border-top: 3px dotted #bbb;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <div class="float-left">
                
            </div>
            <div style="text-align:center">
                <img src="~/img/Logo/logo.png" width="130" height="120" />
                <p style="line-height: 1">

                    <strong>
                        <span style="font-size:17px">KEMENTERIAN KEUANGAN REPUBLIK INDONESIA</span><br />
                        <span style="font-size:15px">
                            DIREKTORAT JENDERAL BEA DAN CUKAI<br />

                            KANTOR WILAYAH DIREKTORAT JENDERAL BEA DAN CUKAI<br />
                            KALIMANTAN BAGIAN TIMUR<br />
                            KANTOR PENGAWASAN DAN PELAYANAN BEA DAN CUKAI TIPE MADYA<br />
                            PABEAN B BALIKPAPAN<br />
                        </span>
                    </strong>
                    <span style="font-size:8px">
                        JALAN YOS SUDARSO NOMOR 9, BALIKPAPAN 76111<br />
                        TELEPON (0542) 423422, 421393; FAKSIMILE (0542) 423951, 731212; LAMAN WWW.BEACUKAI.GO.ID<br />
                        PUSAT KONTAK LAYANAN 1500225; SUREL BCBALIKPAPAN@KEMENKEU.GO.ID<br />
                    </span>
                </p>
            </div> 
        </div>
    </header>
    <hr />
    <div style="margin-bottom:20px">
      
        <div style="text-align:center">
            <p style="line-height: 0;font-size:18px"><b>
                NOTA DINAS
                
                </b>
             </p>
             <p>
                 NOMOR: ND-@Model.PenLap.NoBA/PL/KBC.160102/@Model.PenLap.TanggalBA.Year
             </p>

               
             
        </div>
        </div>
        
       
         <table style="margin-bottom:30px;width:100%;">
  
          <tr>
           
            <td style="width:30%">Yth</td>
            <td>:</td>
            <td>@Model.PenLap.NamaPetugas1 / @Model.PenLap.Petugas1</td>
          </tr>
          <tr>
            
            <td>Dari</td>
            <td>:</td>
            <td>@Model.PenLap.Pangkat1 / @Model.PenLap.Golongan1</td>
          </tr>
          <tr>
           
            <td>Lampiran</td>
            <td>:</td>
            <td>@Model.PenLap.Jabatan1</td>
          </tr>
          <tr>
            
            <td style="width:30%">Hal</td>
            <td>:</td>
            <td>@Model.PenLap.NamaPetugas2 / @Model.PenLap.Petugas2</td>
          </tr>
          <tr>
           
            <td>Tanggal</td>
            <td>:</td>
            <td>@Model.PenLap.Pangkat2 / @Model.PenLap.Golongan2</td>
          </tr>
          
        </table>
        <hr />
        <div>
            <p style="text-indent: 30px">
                Sehubungan dengan Nota Dinas saudara nomor  : @Model.NDBongkar.NomorND/KBC.160102/2022 tanggal @Model.NDBongkar.TanggalND.ToShortDateString() perihal @Model.Bongkar.Hal sesuai surat permohonan @Model.Bongkar.PenggunaJasa.NamaPerusahaan nomor : @Model.Bongkar.NoPermohonan tanggal @Model.Bongkar.TanggalPermohonan hal @Model.Bongkar.Hal, dengan ini disampaikan Berita Acara Pemeriksaan Lokasi Nomor @Model.PenLap.NoBA tanggal @Model.PenLap.TanggalBA.ToShortDateString().

            </p>
            
         
        </div>
       
        
<div>
    <p style="text-indent:30px">
        Demikian disampaikan dan atas kerjasamanya diucapkan terima kasih
    </p>
    
</div>
<div>
    <div style="float:right;margin-right:300px">
        <p style="margin-bottom:100px">
             
        </p>
         <p style="margin-bottom:100px">
            @Model.PenLap.NamaKasi
            <br />
            @Model.PenLap.Kasi
         </p>
          
                       
                        
                            
                        
                       
                        

                        
                   

               
    </div>
    <div style="float:left">
        
       
                        
                            
                        
                       
                        

                        
                   

               
    </div>           

            </div>
    
</body>
</html>
