@model ProjectAlpha.Models.P2kp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>P2kp</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Judul)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Judul)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tanggal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JamMulai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JamMulai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JamSelesai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JamSelesai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tempat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tempat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NarsumID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Narsum.Narasumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.P2kpID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
