@model IEnumerable<ProjectAlpha.Models.P2kp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Judul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JamMulai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JamSelesai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NarsumID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Judul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JamMulai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JamSelesai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Narsum.Narasumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status == StatusP2kp.belum)
                {
                    <a asp-action="Selesai" asp-route-id="@item.P2kpID">Selesai</a>

                    <a asp-action="Edit" asp-route-id="@item.P2kpID">Edit</a>

                    <a asp-action="Delete" asp-route-id="@item.P2kpID">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.P2kpID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
