@model IEnumerable<ProjectAlpha.Models.P2kp>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>
<head>
    <script type="text/javascript" charset="utf8" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>


   
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

</head>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="display compact table-bordered wrap" style="width:100%" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Judul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JamMulai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JamSelesai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NarsumID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Judul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JamMulai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JamSelesai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Narsum.Narasumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.P2kpID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.P2kpID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.P2kpID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dataTable").dataTable({
           
        });
    });
</script>