@model WBKNET.Models.Proker.Dash.TopImporBM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TopImporBM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bulan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bulan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaImortir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaImortir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BM)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TopImporBMID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
