@model WBKNET.Models.Proker.Dash.TopImporBM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TopImporBM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bulan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bulan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaImortir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaImortir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BM)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TopImporBMID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
